<div class="row">
  <div class="span10">
    <div id="map"></div>
    <!-- The container div sits a bottom fixes.  But two sub divs use grid and wrap on collapse. -->
    <div class="row">
      <div class="span3 well">
        <% if @user %>
          <a href="#addLocation" role="button" class="btn btn-small btn-primary" data-toggle="modal"><i class="icon-plus"></i> Add Location</a>
          <a href="#" role="button" class="btn btn-small" data-toggle="modal"><i class="icon-map-marker"></i> My Locations</a>
          
         
         
    <!--       on clic of manage my locaiton, background color changes, this button change to Finish Managing my Locations.  Then toggles back to Explore view. -->
        <% else %>
          <p>Log in to add a location!</p>
        <% end %>   
      </div>

      <div class="span5" id="tags">
        <div>
          <span>Select Filters: </span>
          <div>
            <span class="label"><i class="icon-remove"></i> Fun</span>
            <span class="label"><i class="icon-remove"></i> Beauty</span>
            <span class="label label-important"><i class="icon-ok"></i> Food</span>
            <span class="label label-important"><i class="icon-ok"></i> Culture</span>
            <span class="label"><i class="icon-remove"></i> Spiritual</span>
            <span class="label"><i class="icon-remove"></i> Music</span>
          </div>
        </div>
      </div>   
    </div>
  </div>
  <div class="span2 well">
    Some related content or ads
  </div>
</div>
<!-- Modal for Add New Location -->
<%= form_for [@user, @location] do |f| %>
<div id="addLocation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Location</h3>
  </div> 
  <div class="modal-body">
    <p>Enter a name for this location.</p>
    <p>
      <!-- start form -->
      
        <% if @location.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

            <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

       <!--  <div class="field">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude %>
        </div>
        <div class="field">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude %>
        </div> -->
        <div class="field">
          <!-- maybe show name of location above name through map api -->
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <!-- 
        <div class="actions">
          <%= f.submit :class => "btn btn-primary"%>
        </div> -->
      <!-- end form -->
    </p>
  </div>  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :class => "btn btn-primary"%>
  </div>
</div>
<% end %>


<!-- Modal to show Location and it's posts -->
<div id="location_posts" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="location_title"></h3>
  </div>
  <div class="modal-body">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> You didn't enter a message, or some crap.
    </div>
    <div id="add_a_post">
      <!-- Start add post form -->
      <div><strong>Add Comment</strong></div>
      <div class="my_input"><textarea rows="3" class="span5"></textarea></div>
      <!-- End add post form -->
    </div>
    <div id="output_posts">
    
    </div>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--  <button class="btn btn-primary">Save changes</button> -->
  </div>
</div>



<!-- output list of locations.  Click on any should open modal with Location name, and list posts -->
<p>
<% @locations.each do |loc| %>
<div><%= loc.name %>, <%= loc.latitude %>, <%= loc.longitude %></div>
<% end %>
</p>


<!-- 
<div class="myoverlay well">
 Specifics of Location go here.  Then a scrollable comments area underneith.
</div> -->




<script type="text/javascript">
var my_loc_id;
var map = L.map('map').setView([43.186983, 10.604553], 2);

// L.tileLayer('http://{s}.tile.cloudmade.com/fbd36621a2c14de283e0a63cbab9d68b/997/256/{z}/{x}/{y}.png', {
//     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
//     maxZoom: 18
// }).addTo(map);

// add an OpenStreetMap tile layer
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);




// Output all the markers on map
// http://leafletjs.com/reference.html#map
<% @locations.each do |loc| %>
  var marker_<%= loc.id %> = L.marker([<%= loc.latitude %>, <%= loc.longitude %>]).addTo(map);
  marker_<%= loc.id %>.on('click',function(e){
    // alert(<%= loc.id %>)
    // window.assign("#location_posts");
    my_loc_id = <%= loc.id %>;
    $('#location_posts').modal('show');
    // Bootstrap jquery functions
    // $('#myModal').modal('toggle');
    // $('#myModal').modal('show');
    // $('#myModal').modal('hide');
  })
<% end %>

// var imageUrl = 'http://www.lib.utexas.edu/maps/historical/newark_nj_1922.jpg',
//     imageBounds = [[ 43.186983, 10.604553], [ 43.206983, 10.704553]];

// L.imageOverlay(imageUrl, imageBounds).addTo(map);

// Playing with Leaflet
// marker_2.bindPopup("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.").openPopup();


// marker_1.on('click', function(e) {
//     alert(e.latlng); // e is an event object (MouseEvent in this case)
//     console.log(e);
// });
// function show_location_pop( y){
//   marker_2.bindPopup(y).openPopup();
// }

// map.on('click', show_location_pop("My Location"));

// function get_location_data(id){
//   var url = "/locations/" + id + "/posts"
//   $.ajax(url,{
//     content_type: "text/json",
//     complete: function(response){
//       console.log(response);
//     }
//   })
// }


// $("#show_button").click(function(){
//   $(".myoverlay").css("visibility","visible");
// });

// show posts modal
// Clear contents.

// fetch contents of specific Location
$('#location_posts').on('show', function () {
  console.log("opened");
   $.ajax({
    url: 'locations/' + my_loc_id +'/posts.json',
    method: 'GET',
    contentType: 'application/json',
    datatype: 'json',
    success: function(my_data) {
    console.log(my_data);
    console.log(my_data.name);
    
    $("#location_title").html(my_data.name);
    //output posts
    $("#output_posts").html("");
    $.each(my_data.posts, function(i) { $("#output_posts").append("<div><strong>Username needed</strong></div><div class='well well-small'>" + my_data.posts[i].content +"</div>"); } );
  }
})
})
         
</script>