<script>
$(document).ready(function () {

  // Set default user geolocation and then try to get the actual location.
  var start_lat = 0;
  var start_long = 0;

  if (navigator.geolocation){
    //find the device location
    latlong = navigator.geolocation.getCurrentPosition(findPosition);
    console.log("Found Lat/long");
   
  }
  else {
    console.log("Did not find Lat/Long");
    // start_lat =  40;
    // start_long = 20; 
  }

  function findPosition(position){
    start_lat =  position.coords.latitude;
    start_long = position.coords.longitude; 

    console.log(start_lat + ", " + start_long);
    map.panTo([start_lat, start_long]).zoomIn(7); 
  }
  // End geolocation


  // Tag filter buttons
  $("#tag-2").button("toggle").addClass("btn-success")




  // Below.  Little trick to make the add_comment_but fire on keypress of enter.
  $('#user_comment').keypress(function(event){
    if(event.keyCode == 13){
      $('#add_comment_but').click();
      $('#user_comment').val("");
    }
  });
 


//Render the map
  var my_loc_id;
  var map = L.map('map').setView([start_lat, start_long], 2);


  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var layer = new L.StamenTileLayer("watercolor");
  // var map = new L.Map("element_id", {
  //     center: new L.LatLng(37.7, -122.4),
  //     zoom: 12
  // });
  // map.addLayer(layer);


  // Output all the markers on map
  // http://leafletjs.com/reference.html#map
  <% @locations.each do |loc| %>
    var marker_<%= loc.id %> = L.marker([<%= loc.latitude %>, <%= loc.longitude %>]).addTo(map);
    marker_<%= loc.id %>.on('click',function(e){
      
      // alert(<%= loc.id %>)
      // window.assign("#location_posts");
      my_loc_id = <%= loc.id %>;
      $('#location_posts').modal('show');
      // Bootstrap jquery functions
      // $('#myModal').modal('toggle');
      // $('#myModal').modal('show');
      // $('#myModal').modal('hide');
    })
  <% end %>
  

  // fetch contents of specific Location
  $('#location_posts').on('show', function () {
    // console.log("opened");
     $.ajax({
      url: 'locations/' + my_loc_id +'/posts.json',
      method: 'GET',
      contentType: 'application/json',
      datatype: 'json',
      success: function(my_data) {
        console.log(my_data);
        console.log(my_data.name);
      // all this happens if the JSON succeeds.  That's why it's in here.
        $("#location_title").html(my_data.name);

      // Show panoramio
      //http://www.panoramio.com/api/data/api.html
        var list_ex_options = {'width': 350, 'height': 150, 'columns': 2, 'croppedPhotos': true};
        var photo_radius = 1;
        var photo_lat = my_data.latitude;
        var photo_long = my_data.longitude;
        var loc_tag = my_data.tag;

        var photo_area = { 'rect': {'sw': {'lat': photo_lat - photo_radius, 'lng': photo_long - photo_radius }, 'ne': {'lat': photo_lat + photo_radius, 'lng': photo_long + photo_radius }} };
        var list_ex_widget = new panoramio.PhotoListWidget('div_list_ex', photo_area,  list_ex_options);
        list_ex_widget.setPosition(0);

        console.log();

      //output posts
        $("#output_posts").reset;
        $("#loc_tag").html(loc_tag);
        // How do I sort the my_data by date, most recent at top
        $.each(my_data.posts, function(i) { $("#output_posts").append("<div class='pull-left'><img width='50' height='50'></div><div><div><strong>" + my_data.posts[i].user.name +"</strong></div><div class='well well-small'>" + my_data.posts[i].content +"</div></div>"); } );
        post_block = 

      // Deal with adding a comment
      // Capture teh click on the add_comment_but with jQuery
        $("#add_comment_but").click(function() {
          add_post(my_loc_id, $("#user_comment").val() );
        })


      }
    })
  })


   
  // When a user submits a new message in the Location Modal, this stores and loads the new messaage.
  function add_post(loc_id, post_content) {
    // user_id from session
    console.log(post_content + " - loc_id:" + loc_id);
    //On click of submit button, collect fields from form.


    //Validate that there is a content in the message.


    // Ajax POST the data
    $.ajax({
      type: "POST",
      url: 'locations/' + loc_id +'/posts.json',
      data: { post:  { location_id: loc_id,  content: post_content } }
    }).done(function( msg ) {
      
      console.log(msg);
      console.log(msg.content);
      // $("#output_posts").prepend("<div style='display:none'><strong>Username needed</strong></div><div class='well well-small'>" + msg.content + "</div>").fadeIn('slow'); 

       var liData = "<div style='display:none'><div><strong>Username needed</strong></div><div class='well well-small'>"+ msg.content + "</div></div>";
      $(liData).prependTo('#output_posts').slideDown('slow');

    });


  } 

// Add a new location
// if not logged in
<% if not @user %>
  map.on('click', function(e) {

     var popup = L.popup()
    .setLatLng([e.latlng.lat, e.latlng.lng])
    .setContent('<h3>Add a Location</h3>You must have an account and be logged in to add a new location.<div><button class="btn">Login</button> <button class="btn">Create Account</button></div>')
    .openOn(map);
    // map.panTo([e.latlng.lat, e.latlng.lng]); 

      // alert(e.latlng);
      // add_location();
  });   

// if logged in 
<% else %>
  map.on('click', function(e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;

     var popup = L.popup()
    .setLatLng([e.latlng.lat, e.latlng.lng])
    .setContent('<h3>Add a Location</h3><div>' + e.latlng.lat + ', ' + e.latlng.lng + '</div><div><strong>Location Name</strong><br><input type="text" id="locname"><br><strong>Tag</strong><br><div class="btn-group center" data-toggle="buttons-checkbox"><button type="button" id="tag-1" class="btn btn-small">Party</button><button type="button" id="tag-2" class="btn btn-small">Beauty</button><button type="button" id="tag-3" class="btn btn-small">Food</button><button type="button" id="tag-4" class="btn btn-small">Culture</button><button type="button" id="tag-5" class="btn btn-small">Spiritual</button>  </div><button class="btn btn-primary" id="add_location"><i class="icon-plus"></i> Add Location</button> <button class="btn" id="close_button">Cancel</button></div>')
    .openOn(map);

    // map.panTo([e.latlng.lat, e.latlng.lng]);
   
    console.log(locname);

      // alert(e.latlng);
      $( "#add_location" ).click(function() {
        locname = $("#locname").val();
        add_location(lat, lng, locname, 2);
        //closePopup();
      });
      $("#close_button").click(function() {      
      popup.close
      });
  });   

<% end %>
// End if logged in
  // Add location process 
  function add_location(lat, lng, locname, tag) {
    console.log(lat, lng, name, tag);

    $.ajax({
      type: "POST",
      url: 'locations.json',
      data: { location: { latitude: lat , longitude: lng , name: locname, tag: tag } }
    }).done(function( msg ) {

      // I need the number of the new id
      my_loc_id = msg.id;
      $('#location_posts').modal('show');
      // refresh the map


      console.log(msg);
      console.log(msg.content);
    });
  }

  
// End Add a location



//end doc on load.
});
</script>


<div id="map" class="full_width"></div>

  <div class="btn-group center" data-toggle="buttons-checkbox">
    <button type="button" id="tag-1" class="btn">Party</button>
    <button type="button" id="tag-2" class="btn">Beauty</button>
    <button type="button" id="tag-3" class="btn">Food</button>
    <button type="button" id="tag-4" class="btn">Culture</button>
    <button type="button" id="tag-5" class="btn">Spiritual</button>  
  </div>



<br><br><br><br>
<!-- The container div sits a bottom fixes.  But two sub divs use grid and wrap on collapse. -->


<div class="span4">
  <% if @user %>
    



<!-- Modal for Add New Location -->
<%= form_for [@user, @location] do |f| %>
<div id="addLocation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Location</h3>
  </div> 
  <div class="modal-body">
    <p>Enter a name for this location.</p>
    <p>
      <!-- start form -->
      
        <% if @location.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

            <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

       <!--  <div class="field">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude %>
        </div>
        <div class="field">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude %>
        </div> -->
        <div class="field">
          <!-- maybe show name of location above name through map api -->
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <!-- 
        <div class="actions">
          <%= f.submit :class => "btn btn-primary"%>
        </div> -->
      <!-- end form -->
    </p>
  </div>  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :class => "btn btn-primary"%>
  </div>
</div>
<% end %>



<!-- End Add location  -->
  <% else %>
    <p>Log in to add a location!</p>
  <% end %>   
</div>
<button id="show_latlong">Show Lat/Long</button>
<div class="span4" id="tags">
  <div>

<!--     <div>
      <span class="label"><i class="icon-remove"></i> Fun</span>
      <span class="label"><i class="icon-remove"></i> Beauty</span>
      <span class="label label-important"><i class="icon-ok"></i> Food</span>
      <span class="label label-important"><i class="icon-ok"></i> Culture</span>
      <span class="label"><i class="icon-remove"></i> Spiritual</span>
      <span class="label"><i class="icon-remove"></i> Music</span>
    </div> -->
  </div>
</div>   







<!-- Modal to show Location and it's posts -->
<div id="location_posts" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div><h3 id="location_title"></h3></div>
    
    <div id="div_list_ex"></div>
    <div id="loc_tag"></div>
    
    <div id="add_a_post">
      
      <!-- Start add post form -->

      <div><strong>Add Comment</strong></div>
      <div class="my_input"><textarea rows="3" class="span5" id="user_comment"></textarea></div>
      <button id="add_comment_but" class="btn btn-primary btn-small">Add Comment</button>
      
      <!-- End add post form -->
    </div>
  </div>
  <div class="modal-body">
   
    <div id="output_posts">
    
    </div>  
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--  <button class="btn btn-primary">Save changes</button> -->
  </div>
</div>



<!-- output list of locations.  Click on any should open modal with Location name, and list posts -->
<p>
<% @locations.each do |loc| %>
<div><%= loc.name %>, <%= loc.latitude %>, <%= loc.longitude %></div>
<% end %>
</p>


<!-- 
<div class="myoverlay well">
 Specifics of Location go here.  Then a scrollable comments area underneith.
</div> -->




<script type="text/javascript">




</script>