

<div id="map"></div>
<a href="#addLocation" role="button" class="btn" data-toggle="modal">Add Location</a>
<a href="#explore" role="button" class="btn" data-toggle="modal">Explore</a>
<a href="#myStory" role="button" class="btn" data-toggle="modal">My Story</a>
<a href="#signOut" role="button" class="btn" data-toggle="modal">Sign Out</a>
<a href="#" id="show_button" role="button" class="btn" data-toggle="modal">Show Button</a>
 
<!-- Modal -->
<div id="addLocation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Location</h3>
  </div>
  <div class="modal-body">
    <p>Enter a name for this location.</p>
    <p><%= render 'locations/form' %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<!-- Modal -->
<div id="explore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<!-- Modal -->
<div id="myStory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<!-- Modal -->
<div id="signOut" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<!-- output list of locations.  Click on any should open modal with Location name, and list posts -->
<% @locations.each do |loc| %>
<div><%= loc.name %>, <%= loc.latitude %>, <%= loc.longitude %></div>
<% end %>

<% if @user %>
	<%= render 'locations/form' %>
<% else %>
	<p>Log in to add a location!</p>
<% end %>

<div class="myoverlay well">
 Specifics of Location go here.  Then a scrollable comments area underneith.
</div>


<button class="btn btn-large btn-primary" type="button">Large button</button>


<script type="text/javascript">
var map = L.map('map').setView([43.186983, 10.604553], 4);

L.tileLayer('http://{s}.tile.cloudmade.com/fbd36621a2c14de283e0a63cbab9d68b/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);

// Output all the markers on map
<% @locations.each do |loc| %>
  var marker_<%= loc.id %> = L.marker([<%= loc.latitude %>, <%= loc.longitude %>]).addTo(map);
  marker_<%= loc.id %>.on('click',function(e){
    get_location_data(<%= loc.id %>)
  })
<% end %>

// Playing with Leaflet
marker_2.bindPopup("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.").openPopup();


marker_1.on('click', function(e) {
    alert(e.latlng); // e is an event object (MouseEvent in this case)
    console.log(e);
});

function get_location_data(id){
  var url = "/locations/" + id + "/posts"
  $.ajax(url,{
    content_type: "text/json",
    complete: function(response){
      console.log(response);
    }
  })
}

// end playing with Leaflet

// var marker = L.marker([43.186983, 10.604553]).addTo(map);
// var marker = L.marker([44.005904, 15.292969]).addTo(map);

$("#show_button").click(function(){
  $(".myoverlay").css("visibility","visible");
});

</script>