<!DOCTYPE html>
<html>
<head>
  <title>TravelPosts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->

 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>


</head>
<body>

<%= render 'layouts/header' %>


<%= yield %>

</body>
</html>
